version: "3.8"
services:
  mongodb:
    image: mongo
    container_name: mongodb
    # environment:
    #   - PUID=1000
    #   - PGID=1000
    volumes:
      - /home/satvik/Desktop/spe/repo/mern-social-media/database:/data/db
    restart: unless-stopped
  server:
    image: nodejs_backend
    container_name: server
    # environment:
    #   # - PUID=1000
    #   # - PGID=1000
    ports:
      - '3001:3001'
    restart: unless-stopped
  client:
    image: react_frontend
    container_name: client
    ports:
      - '3000:3000'
    restart: unless-stopped
